<ng-container *ngIf="task">
  <article>
    <h2>{{ task.title }}</h2>
    <table>
      <tbody>
      <tr *ngIf="task.startTime">
        <th scope="row" i18n>Start date</th>
        <td>{{ task.startTime.toString() }}</td>
      </tr>
      <tr *ngIf="task.deadline">
        <th scope="row" i18n>Finish by date</th>
        <td>{{ task.deadline.toString() }}</td>
      </tr>
      <tr *ngIf="task.updated">
        <th scope="row" i18n>Updated</th>
        <td>{{ task.updated.toLocaleDateString() }}</td>
      </tr>
      </tbody>
    </table>
  </article>
</ng-container>
<ng-container *ngIf="!task">
  <article i18n>
    Task has no data
  </article>
</ng-container>
