<main class="page single-column" xmlns="http://www.w3.org/1999/html">
  <app-navigation></app-navigation>
  <h1 *ngIf="(id | async)?.toLowerCase() === 'new'" i18n>
    Create new task
  </h1>
  <h1 *ngIf="(id | async)?.toLowerCase() !== 'new'" i18n>
    Edit task
  </h1>
  <form [formGroup]="taskFormGroup">

    <section>
      <label for="title" i18n>Title</label>
      <input type="text" name="title" id="title" formControlName="title" />
    </section>

		<section>
      <label for="description" i18n>Description</label>
      <textarea name="description" id="description" formControlName="description"></textarea>
    </section>

		<app-date-time-picker formControlName="startTime" [label]="'Start date'" i18n></app-date-time-picker>

		<app-date-time-picker formControlName="deadline" [label]="'Finish by'" i18n></app-date-time-picker>

		<section>
      <label for="task-status" i18n>Status</label>
      <textarea name="taskStatus" id="task-status" formControlName="taskStatus"></textarea>
    </section>

		<section>
      <label for="board" i18n>Board</label>
      <textarea name="board" id="board" formControlName="board"></textarea>
    </section>

		<button (click)="saveTask($event)">Save</button>
  </form>
</main>
