<main class="central-form">
  <form (submit)="formSubmitted($event)" [formGroup]="loginForm">
    <h1 i18n>
      Login to Tusee
    </h1>

    <section class="form-error" *ngIf="loginError.hasOccurred && loginError.message === 'credentials'" i18n>
      Either your email is not registered or your password is not correct.
    </section>

    <section>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" />
    </section>

    <section>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
    </section>

    <button (click)="formSubmitted($event)">Login</button>
  </form>
</main>
