<main class="central-form">
  <form *ngIf="!registrationSuccessful" (submit)="formSubmitted($event)" [formGroup]="registrationForm">

    <section>
      <label for="email">Email:</label>
      <input id="email" formControlName="email" />
    </section>

    <section>
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" />
    </section>

    <section>
      <label for="displayName">Display name:</label>
      <input id="displayName" formControlName="displayName" />
    </section>

    <button (click)="formSubmitted($event)">Register</button>
  </form>
  <div *ngIf="registrationSuccessful">
    Registration was successful. Please, continue to <a routerLink="/login">login page</a>.
  </div>
</main>
